<h2>Resultados para: <%= term %></h2>

<% if (weather) { %>
  <h3>Clima</h3>
  <p><%= weather.description %> | <%= weather.temp %>ºC</p>
  <img src="http://openweathermap.org/img/wn/<%= weather.icon %>@2x.png">
<% } %>

<% if (country) { %>
  <h3>Informações do País</h3>
  <p>Nome: <%= country.name %></p>
  <p>Capital: <%= country.capital %></p>
  <p>População: <%= country.population %></p>
  <img src="<%= country.flag %>" width="100">
<% } %>

<a href="/mashup">Nova pesquisa</a> | <a href="/mashup/history">Histórico</a> | <a href="/logout">Logout</a>
